{% extends "maestra.html" %}
{% block titulo %} Agregar venta {% endblock %}

{%block cssAddSale %} <link rel="stylesheet" href="{{ url_for('static', filename='styles/addSale.css') }}"> {% endblock %}
{% block contenido %}
<section class="section">
  <div class="container--sale">

    <div class="container--title">
      <h3>Generar Venta</h3>
      <input type="date" id="fecha" name="fecha" class="input--fecha">
    </div>

    <div class="container--data">
      <div class="container--customer">
        <h4 class="title-data">Cliente</h4>
        <div class="customer-info">
          <label for="dni">DNI:</label>
          <input type="text" class="input-dni" id="dni" name="dni" placeholder="Ingresar DNI">

          <button class="btn-search">Buscar</button>
        </div>

        <div class="customer-info">
          <label for="nombre">Nombre:</label>
          <input type="text" class="input-info" id="nombre" name="nombre" placeholder="Ingresar nombre">
        </div>

        <button class="btn-new-customer">Nuevo Cliente</button>
      </div>

      <div class="container--sales--data">
        <h4 class="title-data">Datos de venta</h4>
        <div class="sale-info">
          <label for="sale_type" class="sale_type">Tipo venta:</label>
          <select class="select" name="tipo_venta" id="tipo_venta">
            <option value="tipo_venta1">Factura</option>
            <option value="tipo_venta2">Boleta</option>
            <option value="tipo_venta3">Categoría 3</option>
            <!-- Agrega aquí más opciones las categorías -->
          </select>
          <label for="payment_method" class="payment_method">Método de pago:</label>
          <select class="select" name="metodo_pago" id="metodo_pago">
            <option value="metodo_pago1">Método 1</option>
            <option value="metodo_pago2">Método 2</option>
            <option value="metodo_pago3">Método 3</option>
            <!-- Agrega aquí más opciones las categorías -->
          </select>
        </div>
      </div>

      <div class="container--product--data">
        <h4 class="title-data">Datos de producto</h4>
        <select class="category-select">
          <!-- opciones de categoría -->
        </select>
        <select class="brand-select">
          <!-- opciones de marca -->
        </select>
        <select class="product-select">
          <!-- opciones de producto -->
        </select>
        <input type="text" class="stock-input" placeholder="Stock">
        <input type="text" class="price-input" placeholder="Precio">
        <input type="text" class="quantity-input" placeholder="Cantidad">
        <button class="add-product-button">Agregar producto</button>
      </div>
    </div>


    <div class="container--product--table">
      <div class="container--table">
        <table class="table">
          <thead>
            <tr>
              <th>Producto</th>
              <th>Cantidad</th>
              <th>Precio (S/.)</th>
              <th>Importe (S/.)</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <!-- Aquí puedes agregar las filas de la tabla dinámicamente con JavaScript -->
          </tbody>
        </table>
      </div>
      <div></div>
      <form action="" method="POST">
        <button>Guardar</button>
        <button>Cancelar</button>
      </form>
    </div>
  </div>
</section>
{% endblock %}