{% extends "maestra.html" %}
{% block titulo %} Agregar venta {% endblock %}
{% block jsventa_registro %}
<script src="{{ url_for('static', filename='js/venta.js') }}"></script>{% endblock %}

{%block cssAddSale %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/addSale.css') }}"> {% endblock %}

{% block contenido %}
<section class="section">
  <div class="container--sale">

    <div class="container--title">
      <h3>Generar Venta</h3>
      <input type="date" id="fecha" name="fecha" class="input--fecha" value="{{ fecha_actual|strftime('%Y-%m-%d') }}">
    </div>

    <div class="container--data">
      <div class="container--customer">
        <h4 class="title-data">Cliente</h4>
        <div class="customer-info">
          <label for="dni">DNI:</label>
          <input type="text" class="input-dni" id="dni" name="dni" placeholder="Ingresar DNI">

          <button id="btn-search" class="btn-search">Buscar</button>
        </div>

        <div class="customer-info">
          <label for="nombre">Nombre:</label>
          <input type="text" class="input-info" id="nombre" name="nombre" placeholder="Ingresar nombre" readonly>
        </div>

        <button class="btn-new-customer">Nuevo Cliente</button>

        <h4 class="title-data">Vendedor</h4>
        <div class="customer-info">
          <label for="nombre">Nombre:</label>
          {% for user in usuario %}
          <input type="text" value="{{user[1]}}" class="input-vendedor" id="vendedor" name="vendedor" readonly>
          {% endfor %}
        </div>
      </div>

      <div class="container--sales--data">
        <h4 class="title-data">Datos de venta</h4>
        <div class="sale-info">
          <label for="sale_type" class="sale_type">Tipo venta:</label>
          <select class="tipo-venta-select" name="tipo_venta" id="tipo_venta">
            <option value="default">--Seleccione tipo de venta--</option>
            {% for tipo_venta in tipos_venta %}
            <option value="{{tipo_venta[0]}}">{{tipo_venta[1]}}</option>
            {% endfor %}
          </select>
          <label for="payment_method" class="payment_method">Método de pago:</label>
          <select class="metodo-pago-select" name="metodo_pago" id="metodo_pago">
            <option value="default">--Seleccione método de pago--</option>
            {% for metodo_pago in metodo_pagos %}
            <option value="{{metodo_pago[0]}}">{{metodo_pago[1]}}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="container--product--data">
        <h4 class="title-data">Datos de producto</h4>
        <select class="category-select">
          <option value="default">--Seleccione Categoría--</option>
          {% for categoria in categorias %}
          <option value="{{categoria[0]}}">{{categoria[1]}}</option>
          {% endfor %}
        </select>
        <select class="brand-select">
          <option value="default">--Seleccione Marca--</option>
          {% for marca in marcas %}
          <option value="{{marca[0]}}">{{marca[1]}}</option>
          {% endfor %}
        </select>
        <select class="product-select" onchange="obtenerStockPrecio()">
          <option value="default">--Seleccione Producto--</option>
        </select>
        <input value="" type="text" class="stock-input" placeholder="Stock" readonly>
        <input value="" type="text" class="price-input" placeholder="Precio" readonly>
        <input type="text" class="quantity-input" placeholder="Cantidad">
        <button class="add-product-button" id="add-product">Agregar producto</button>
      </div>
    </div>


    <div class="container--product--table">
      <div class="container--table">
        <table class="table">
          <thead>
            <tr>
              <th>ID Producto</th>
              <th>Producto</th>
              <th>Marca</th>
              <th>Cantidad</th>
              <th>Precio (S/.)</th>
              <th>Importe (S/.)</th>
              <th>Eliminar</th>
              <th>Editar</th>
            </tr>
          </thead>
          <tbody id="table-body"  >
            <!-- Aquí puedes agregar las filas de la tabla dinámicamente con JavaScript -->
          </tbody>
          <tfoot>
            <tr>
              <td colspan="4"></td>
              <td>Total importe:</td>
              <td id="total-cell" colspan="2"></td>
            </tr>
          </tfoot>
        </table>
      </div>
      <form action="{{url_for('guardar_venta')}}" method="POST" class="form__save">
        <input type="text" value="" name="cliente" id="cliente" class="cliente_save" hidden> 
        <input type="text" value="" name="metodo_pago" id="metodo_pago" class="metodo_pago_save" hidden>
        <input type="text" value="" name="tipo_venta" id="tipo_venta" class="tipo_venta_save" hidden>
        {% for user in usuario %}
        <input type="text" value="{{user[0]}}" name="empleado" class="empleado_save" hidden>
        {% endfor %}
        <input type="text" value="{{ fecha_actual|strftime('%Y-%m-%d') }}" name="fecha" class="fecha_save" hidden>
        <input type="text" value="" name="total" class="total_save" hidden>
        <button type="submit" class="guardar-todo">Guardar</button>
        <button>Cancelar</button>
      </form>
    </div>
  </div>
</section>
{% endblock %}