{% extends "maestra.html" %}
{% block titulo %} Categorías {% endblock %}
{% block contenido %}

<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Categorías</h3>
            <a href="" class="button is-success" id="showModalAdd">Agregar</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Vigencia</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for categoria in categorias %}
                    <tr>
                        <td>{{categoria[0]}}</td>
                        <td>{{categoria[1]}}</td>
                        <td>{{categoria[2]}}</td>
                        <td>
                            <a href="{{url_for('editar_categoria', id=categoria[0])}}" class="button is-info">Editar</a>
                        </td>
                        <td>
                            <form action="{{url_for('eliminar_categoria')}}" method="POST">
                                <input type="hidden" name="id" value="{{categoria[0]}}">
                                <button class="button is-danger">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}

{% block agregar %}
<div class="columns--add" id="agregar">
    <div class="column is-one-third">
        <h3 class="is-size-3">Agregar categoría</h3>
        <form action="{{url_for('guardar_categoria')}}" method="post" class="form__add">

            <label for="nombre" class="item__add">Nombre:</label>
            <input type="text" class="input" placeholder="Nombre" name="nombre" id="nombre" required>

            <div class="container__save">
                <button type="submit" class="button is-success mt-2">Guardar</button>
                <a href="" class="button is-primary mt-2" id="closeModalAdd">Cerrar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}