{% extends "maestra.html" %}
{% block titulo %} Clientes {% endblock %}
{% block contenido %}

<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Clientes</h3>
            <a href="" class="button is-success" id="showModalAdd">Agregar</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nombres</th>
                        <th>Apellido</th>
                        <th>DNI</th>
                        <th>Email</th>
                        <th>Teléfono</th>
                        <th>Vigencia</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in clientes %}
                    <tr>
                        <td>{{cliente[0]}}</td>
                        <td>{{cliente[1]}}</td>
                        <td>{{cliente[2]}}</td>
                        <td>{{cliente[3]}}</td>
                        <td>{{cliente[4]}}</td>
                        <td>{{cliente[5]}}</td>
                        <td>{{cliente[6]}}</td>
                        <td>
                            <a href="{{url_for('editar_cliente', id=cliente[0])}}" class="button is-info">Editar</a>
                        </td>
                        <td>
                            <form action="{{url_for('eliminar_cliente')}}" method="POST">
                                <input type="hidden" name="id" value="{{cliente[0]}}">
                                <button class="button is-danger">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}

{% block agregar %}
<div class="columns--add" id="agregar">
    <div class="column is-one-third">
        <h3 class="is-size-3">Agregar cliente</h3>
        <form action="{{url_for('guardar_cliente')}}" method="post" class="form__add">

            <label for="nombres" class="item__add">Nombres:</label>
            <input type="text" class="input" placeholder="Nombres" name="nombres" id="nombres" required>

            <label for="apellido" class="item__add">Apellido:</label>
            <input type="text" class="input" placeholder="Apellido" name="apellido" id="apellido" required>

            <label for="dni" class="item__add">DNI:</label>
            <input type="text" class="input" placeholder="DNI" name="dni" id="dni" required>

            <label for="email" class="item__add">Email:</label>
            <input type="email" class="input" placeholder="Email" name="email" id="email">

            <label for="telefono" class="item__add">Teléfono:</label>
            <input type="text" class="input" placeholder="Teléfono" name="telefono" id="telefono">

            <div class="container__save">
                <button type="submit" class="button is-success mt-2">Guardar</button>
                <a href="" class="button is-primary mt-2" id="closeModalAdd">Cerrar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}