<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/app/static/styles/login.css">
  <title>Login</title>
</head>

<body>

  <div class="container-main">
    <div class="group logo">

    </div>

    <div class="group login">

      <form action="" class="form">
        <h2 class="form__title">Iniciar Sesión</h2>
        
        <div class="container__field">

          <div class="form__field">
            <label for="" class="form__label">Usuario</label>
            <input type="text" placeholder="Ingrese usuario" class="form__input">
            <span></span>
          </div>
  
          <div class="form__field">
            <label for="" class="form__label">Contraseña</label>
            <input type="password" placeholder="Ingrese contraseña" class="form__input">
            <span></span>
          </div>  
          <input type="submit" class="form__submit" value="Entrar">
        </div>
        
      </form>

    </div>
  </div>

</body>

</html>