{% extends "maestra.html" %}
{% block titulo %} Marcas {% endblock %}
{% block contenido %}

<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Marcas</h3>
            <a href="" class="button is-success" id="showModalAdd">Agregar</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Vigencia</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for marca in marcas %}
                    <tr>
                        <td>{{marca[0]}}</td>
                        <td>{{marca[1]}}</td>
                        <td>{{marca[2]}}</td>
                        <td>
                            <a href="" class="button is-info showModalEditMarca"  data-codigo="{{marca[0]}}">Editar</a>
                        </td>
                        <td>
                            <form action="{{url_for('eliminar_marca')}}" method="POST">
                                <input type="hidden" name="id" value="{{marca[0]}}">
                                <button class="button is-danger">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}

{% block agregar %}
<div class="columns--add" id="agregar">
    <div class="column is-one-third">
        <h3 class="is-size-3">Agregar marca</h3>
        <form action="{{url_for('guardar_marca')}}" method="post" class="form__add">

            <label for="nombre" class="item__add">Nombre:</label>
            <input type="text" class="input" placeholder="Nombre" name="nombre" id="nombre" required>

            <div class="container__save">
                <button type="submit" class="button is-success mt-2">Guardar</button>
                <a href="" class="button is-primary mt-2" id="closeModalAdd">Cerrar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block edit %}
<div class="columns--edit edit">
    <div class="column is-one-third">
        <h3 class="is-size-3">Editar marca</h3>

        <form action="{{ url_for('actualizar_marca') }}" method="post" class="form__add">
            
            <label for="codigo" class="item__add">Código:</label>
            <input value="" required type="text" class="input input-id" name="id" readonly>
            
            <label for="nombre" class="item__add">Nombre:</label>
            <input value="" required type="text" class="input input-nombre" placeholder="Nombre" name="nombre" id="nombre">
            
            <label for="vigencia" class="item__add">Vigencia:</label>
            <input value="" required type="text" class="input input-vigencia" placeholder="Vigencia" name="vigencia" id="vigencia">

            <div class="container__save">
                <button type="submit" class="button is-success mt-2">Guardar</button>
                <a href="{{ url_for('marcas') }}" class="button is-primary mt-2 closeModalEdit">Volver</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}