{% extends "maestra.html" %}
{% block titulo %} Métodos de Pago {% endblock %}
{% block jsedit %}
<script src="{{ url_for('static', filename='js/metodo_pago.js') }}"></script>{% endblock %}


{% block contenido %}

<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Métodos de Pago</h3>
            <a href="" class="button is-success" id="showModalAdd">Agregar</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Vigencia</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for metodo_pago in metodo_pagos %}
                    <tr>
                        <td>{{metodo_pago[0]}}</td>
                        <td>{{metodo_pago[1]}}</td>
                        <td>{{metodo_pago[2]}}</td>
                        <td>
                            <a href="" class="button is-info showModalEditMetodoPago"
                                data-codigo="{{metodo_pago[0]}}">Editar</a>
                        </td>
                        <td>
                            <form action="{{url_for('eliminar_metodo_pago')}}" method="POST">
                                <input type="hidden" name="id" value="{{metodo_pago[0]}}">
                                <button class="button is-danger">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}

{% block agregar %}
<div class="columns--add" id="agregar">
    <div class="column is-one-third">
        <h3 class="is-size-3">Agregar método de pago</h3>
        <form action="{{url_for('guardar_metodo_pago')}}" method="post" class="form__add">

            <label for="nombre" class="item__add">Nombre:</label>
            <input type="text" class="input" placeholder="Nombre" name="nombre" id="nombre" required>

            <div class="container__save">
                <button type="submit" class="button is-success mt-2">Guardar</button>
                <a href="" class="button is-primary mt-2" id="closeModalAdd">Cerrar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}


{% block edit %}
<div class="columns--edit edit">
    <div class="column is-one-third">
        <h3 class="is-size-3">Editar método de pago</h3>

        <form action="{{ url_for('actualizar_metodo_pago') }}" method="post" class="form__add">

            <label for="codigo" class="item__add">Código:</label>
            <input value="" required type="text" class="input input-id" name="id" readonly>

            <label for="nombre" class="item__add">Nombre:</label>
            <input value="" required type="text" class="input input-nombre" placeholder="Nombre" name="nombre"
                id="nombre">

            <label for="vigencia" class="item__add">Vigencia:</label>
            <input type="checkbox" id="vigenciaCheckbox" class="chkVigencia" name="vigencia" value="">
            <label for="vigenciaCheckbox">(Vigente)</label>

            <div class="container__save">
                <button type="submit" class="button is-success mt-2">Guardar</button>
                <a href="{{ url_for('metodo_pagos') }}" class="button is-primary mt-2 closeModalEdit">Volver</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}