{% extends "maestra.html" %}
{% block titulo %} Marcas {% endblock %}
{% block contenido %}

<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Marcas</h3>
            <a href="{{url_for('formulario_agregar_marca')}}" class="button is-success">Agregar</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Vigencia</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for marca in marcas %}
                    <tr>
                        <td>{{marca[0]}}</td>
                        <td>{{marca[1]}}</td>
                        <td>{{marca[2]}}</td>
                        <td>
                            <a href="{{url_for('editar_marca', id=marca[0])}}" class="button is-info">Editar</a>
                        </td>
                        <td>
                            <form action="{{url_for('eliminar_marca')}}" method="POST">
                                <input type="hidden" name="id" value="{{marca[0]}}">
                                <button class="button is-danger">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
